.DS_STORE
*.pyc
__pycache__
wandb
nohup.out
.vscode
231019-data
*.txt
.hypothesis
checkpoints
tree_projections/__pycache__
runs
dsmult.sh
__init__.cpython*
eval_helpers.cpython*
tree_utils.cpython*
*/__pycache__
*.csv
*.txt
*.png
logs
data_utils/__MACOSX
data_utils/babylm_data
data_utils/sg_test_suites
